html, body {
    height: 100%;
}

html { 
    position: relative; 
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #f0fbff;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #326273;
    color: #fff;
}

h1, h2, h3 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {
    text-align: center;
    flex: 1;
    padding: 8px;
    border-right: 1px solid ;
    background-color: #5C9EAD;
    text-decoration: none;
    color: #fff;
    
}

nav a:hover {
    background-color: #92D5E6;
    text-decoration: none;
    
}

nav a:last-child {
    border-right: none;
}

section {
    margin: 10px 20px 10px 20px
}

.introduction {
    display: flex;
    flex-direction: row;
    margin: 10px 100px 10px 125px;
}

header + p {
    margin-top: 50px;
    text-align: center;
}


.introduction img {
    margin-left: 25px;
    min-width: 15%;
    max-width: 15%;
    object-fit: cover;
}

.features {
    display: flex;
    margin: 10px 100px 10px 100px
}

.card {
    flex: 1;
    margin: 0px 25px 0px 25px
}

.card h3 {
    text-align: center;
}

.card p {
    text-align: justify;
}

.conclusion {
    text-align: center;
}

footer {
    background-color: #326273;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%
}

.hobby {
    display: flex;
    flex-direction: column;
    margin: 10px 100px 10px 125px
}

.hobby h3 {
    text-align: left;
    margin-top: 50px;
}

.hobby-drawing img, .hobby-games img, .hobby-bakery img {
    float: left;
    margin-left: 25px;
    min-width: 15%;
    max-width: 15%;
    object-fit: cover;
}

.hobby-drawing, .hobby-games, .hobby-bakery {
    display: flex;
}

.hobby-games img {
    margin-left: 0px;
    margin-right: 25px;
}

.hobby-bakery p {
    flex-grow: 2;
}

.hobby {
    margin-bottom: 50px;
}

.contacts {
    display: flex;
    margin-top:50px;
}


.contacts-card a img {
    width: 50%;
    padding: 5%;
    display: block;
    margin: 0 auto; 
}

.hobby-footer {
    bottom: -350px
}